<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /admin-namascape/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /admin-namascape/index.html [L]
</IfModule>
